<ion-header class="ion-no-border" translucent>
    <ion-toolbar class="text-center">
        <ion-button slot="start" size="small" fill="none" (click)="dismiss()">
            <ion-icon name="chevron-back-outline"></ion-icon>
            <ion-title>Voltar</ion-title>
        </ion-button>
    </ion-toolbar>
    <div class="logo">
        <img src="../../assets/img/logo.svg" alt="Logo">
    </div>
  </ion-header>
  
  <ion-content>
    <div class="flex-column-center">
        <ion-item class="input ion-margin" lines="none">
            <ion-input type="text" placeholder="Nome"></ion-input>
        </ion-item>

        <ion-item class="input ion-margin" lines="none">
            <ion-input type="text" placeholder="Sobrenome"></ion-input>
        </ion-item>

        <ion-item class="input ion-margin" lines="none">
            <ion-input type="text" placeholder="CPF"></ion-input>
        </ion-item>
        
        <ion-item class="input ion-margin" lines="none">
            <ion-input type="text" placeholder="Email"></ion-input>
        </ion-item>

        <ion-item class="input ion-margin" lines="none">
            <ion-input type="text" placeholder="Usuario"></ion-input>
        </ion-item>
    
        <ion-item class="input ion-margin" lines="none">
            <ion-input type="password" placeholder="Senha"></ion-input>
        </ion-item>
    
        <ion-button shape="round" class="btn-submit">
            Cadastrar
        </ion-button>
    </div>
  </ion-content>