<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img-background-wrapper">
    <div class="img-background">
    </div>
  </div>

  <ion-list lines="none" color="light">
    <ion-item>
      <ion-text>
        <h3>Kit Festa para 10 Pessoas</h3>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text class="sm-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat temporibus eum incidunt doloremque molestias
        repellat minus quisquam.
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-text color="primary" class="ion-no-margin" slot="end">
        <p class="bold-text">{{ 199.99 | currency: 'BRL'}}</p>
      </ion-text>
    </ion-item>

    <ion-item class="ion-no-padding ion-margin-top bg-light">
      <ion-avatar slot="start" class="ion-margin">
        <img src="https://image.freepik.com/vetores-gratis/fundo-de-comida-de-mao-desenhada_52683-2954.jpg">
      </ion-avatar>
      <ion-label class="ion-margin">
        <h1>Delikata Festas</h1>
        <ion-icon name="star" color="warning" *ngFor="let item of [0, 1, 2, 3, 4]"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input type="number" value="1" #product></ion-input>
            <ion-icon name="add" slot="end" (click)="addItem()"></ion-icon>
            <ion-icon name="remove" slot="start"></ion-icon>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-button expand="block">
            <ion-icon name="cart" class="ion-margin"></ion-icon>
            Adicionar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
