@import "../../theme/variables.scss";

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;

    img {
        width: 150px;
        height: 150px;
    }
}


.btn-submit {
    --background: var(--red);
    --color: #222;
    --padding-start: 6rem;
    --padding-end: 6rem;
    --padding-top: 1.5rem;
    --padding-bottom: 1.5rem;
    font-weight: 500;
}

.input {
    ion-input {
        --background: var(--gray);
        --color:var(--light-gray);
        --padding-top: 1.2rem;
        --padding-bottom: 1.2rem;
        --padding-start: 2rem;
        --padding-end: 2rem;
    }
}

