<ion-header class="ion-no-border">
  <ion-toolbar class="text-center">
    <div class="logo">
      <img src="../../assets/img/logo.svg" alt="Logo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-column-center">
    <ion-item class="input ion-margin" lines="none">
      <ion-input type="text" class="ion-text-center" placeholder="Usuário"></ion-input>
    </ion-item>

    <ion-item class="input ion-margin" lines="none">
      <ion-input type="password" class="ion-text-center" placeholder="Senha"></ion-input>
    </ion-item>

    <ion-button shape="round" class="btn-submit">
      Entrar
    </ion-button>

    <ion-item class="ion-margin">
      <ion-label>Esqueci a senha</ion-label>
    </ion-item>

    <ion-item (click)="presentModal()">
      <ion-label>Cadastrar</ion-label>
    </ion-item>
  </div>
</ion-content>