.searchbox {
    margin: 1rem 0.2rem;
    --background: var(--gray);
    border-radius: 1.5rem;
    position: relative;

    ion-button {
        position: absolute;
        right: 0;
        height: 3rem;
        width: 4rem;
        --color: var(--red);
    }
}