<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>

      <ion-button slot="end">
        <p>R. Santa Luzia, 735 - Centro</p>
        <ion-icon name="chevron-forward-circle-outline" slot="end" size="small"></ion-icon>  
      </ion-button>
    </ion-buttons>
  </ion-item>  
</ion-header>

<ion-content>
  <ion-card>
    <div class="img"></div>
    <ion-list lines="full">
      <ion-item>
        <span slot="start">1 x</span>
        <p class="produto">Kit Festa para 10 pessoas</p>
        <p class="preco" slot="end">R$199,90</p>
      </ion-item>
    </ion-list>

    <ion-card-content>
      <ion-text color="medium" size="small">Fornecedor: Mou Musse</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="img"></div>
    <ion-list lines="full">
      <ion-item>
        <span slot="start">1 x</span>
        <p class="produto">Kit Festa para 10 pessoas</p>
        <p class="preco" slot="end">R$199,90</p>
      </ion-item>
    </ion-list>

    <ion-card-content>
      <ion-text color="medium">Fornecedor: Mou Musse</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="img"></div>
    <ion-list lines="full">
      <ion-item>
        <span slot="start">1 x</span>
        <p class="produto">Kit Festa para 10 pessoas</p>
        <p class="preco" slot="end">R$199,90</p>
      </ion-item>
    </ion-list>

    <ion-card-content>
      <ion-text color="medium">Fornecedor: Mou Musse</ion-text>
    </ion-card-content>
  </ion-card>

  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <h2>Preço Total: </h2>
      <h1 slot="end">R$399,80</h1>
    </ion-item>
  
    <ion-button expand="full">Finalizar compra</ion-button>
    <ion-button expand="full" color="light">Continuar comprando</ion-button>
  </ion-toolbar>
</ion-footer>
