@import "../../theme/variables.scss";

.filtro {
  margin: 1rem;
  display: flex;
  align-items: center;

  ion-label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
  }

  ion-icon {
    margin-left: 0.3rem;
  }
}

.produto {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;

  .nome-produto {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
  }

  .fornecedor-produto {
    font-size: 14px;
  }

  .img {
    background: url('../../assets/img/docinho.jpg');
    background-size: cover;
    border-radius: 1rem;
  }

  .preco-produto {
    font-weight: 700;
    font-size: 16px;
  }
}

ion-card {
  margin: 0;
  box-shadow: none;
  --color: #222;
}
