<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>

      <ion-button slot="end">
        <p>R. Santa Luzia, 735 - Centro</p>
        <ion-icon name="chevron-forward-circle-outline" slot="end" size="small"></ion-icon>  
      </ion-button>
    </ion-buttons>
  </ion-item>  
</ion-header>

<ion-content #content>
  <div class="filtro" (click)="presentFiltro($event)">
    <ion-label>Filtro</ion-label>
    <ion-icon name="chevron-down-outline"></ion-icon>
  </div>

  <ion-card (click)="presentProduto()">
    <ion-grid class="produto">
      <ion-row>
        <!-- Imagem -->
        <ion-col size="4" class="img">
        </ion-col>
  
        <!-- Descrição -->
        <ion-col size="8">
          <ion-row>
            <ion-col size="12" class="nome-produto">Kit Festa para 10 Pessoas</ion-col>
          </ion-row>
  
          <ion-row class="ion-justify-content-right">
            <ion-col size="8">
              <div class="fornecedor-produto">Fornecedor</div>
            </ion-col>
  
            <ion-col size="4">
              <img src="../../assets/img/avaliacao.png" alt="Avaliação">
            </ion-col>
          </ion-row>
  
          <ion-row>
            <!-- Preço -->
            <ion-col size="12" class="preco-produto ion-text-right">R$ 199,90</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid><!-- Fim Produto -->
  </ion-card>

  <ion-card (click)="presentProduto()">
    <ion-grid class="produto">
      <ion-row>
        <!-- Imagem -->
        <ion-col size="4" class="img">
        </ion-col>
  
        <!-- Descrição -->
        <ion-col size="8">
          <ion-row>
            <ion-col size="12" class="nome-produto">Kit Festa para 10 Pessoas</ion-col>
          </ion-row>
  
          <ion-row class="ion-justify-content-right">
            <ion-col size="8">
              <div class="fornecedor-produto">Fornecedor</div>
            </ion-col>
  
            <ion-col size="4">
              <img src="../../assets/img/avaliacao.png" alt="Avaliação">
            </ion-col>
          </ion-row>
  
          <ion-row>
            <!-- Preço -->
            <ion-col size="12" class="preco-produto ion-text-right">R$ 199,90</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid><!-- Fim Produto -->
  </ion-card>

  <ion-card (click)="presentProduto()">
    <ion-grid class="produto">
      <ion-row>
        <!-- Imagem -->
        <ion-col size="4" class="img">
        </ion-col>
  
        <!-- Descrição -->
        <ion-col size="8">
          <ion-row>
            <ion-col size="12" class="nome-produto">Kit Festa para 10 Pessoas</ion-col>
          </ion-row>
  
          <ion-row class="ion-justify-content-right">
            <ion-col size="8">
              <div class="fornecedor-produto">Fornecedor</div>
            </ion-col>
  
            <ion-col size="4">
              <img src="../../assets/img/avaliacao.png" alt="Avaliação">
            </ion-col>
          </ion-row>
  
          <ion-row>
            <!-- Preço -->
            <ion-col size="12" class="preco-produto ion-text-right">R$ 199,90</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid><!-- Fim Produto -->
  </ion-card>

  <ion-card (click)="presentProduto()">
    <ion-grid class="produto">
      <ion-row>
        <!-- Imagem -->
        <ion-col size="4" class="img">
        </ion-col>
  
        <!-- Descrição -->
        <ion-col size="8">
          <ion-row>
            <ion-col size="12" class="nome-produto">Kit Festa para 10 Pessoas</ion-col>
          </ion-row>
  
          <ion-row class="ion-justify-content-right">
            <ion-col size="8">
              <div class="fornecedor-produto">Fornecedor</div>
            </ion-col>
  
            <ion-col size="4">
              <img src="../../assets/img/avaliacao.png" alt="Avaliação">
            </ion-col>
          </ion-row>
  
          <ion-row>
            <!-- Preço -->
            <ion-col size="12" class="preco-produto ion-text-right">R$ 199,90</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid><!-- Fim Produto -->
  </ion-card>

</ion-content>
